%body
  .flash-box
  .wrapper
    .chat-side
      .side-header
        .side-header__box
          %p.side-header__box__user-name
            = current_user.name
          %ul.side-header__box__menu
            %li.side-header__box__menu__new-group
              = link_to new_group_path do
                %i.fa.fa-edit
            %li.side-header__box__menu__edit-user
              = link_to edit_user_path(current_user) do
                %i.fa.fa-cog
      .groups
        = render 'shared/group'
    .chat-main
      .main-header
        .main-header__left-box
          %h2.main-header__left-box__current-group
            = @group.name
          %ul.main-header__left-box__member-list
            %li.main-header__left-box__member-list__member
              Member :
              - @group.users.each do |user|
                %li.main-header__left-box__member-list__member #{user.name}
        = link_to edit_group_path(@group) do
          .main-header__edit-btn Edit
      .messages
        = render @messages
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image', for: 'message-image' do
            = fa_icon 'image'
            = f.file_field :image, class: 'hidden', id: 'message-image'
          = f.submit "Send", class: 'submit-btn'
        -#     %input.input-box__text#message_content{placeholder: "type a message", type: "text", name: "message[content]"}
        -#     %label.input-box__image{for: "message-image"}
        -#       %i.fa.fa-image
        -#       %input.input-box__image__file#message-image{type: "file", name: "message[image]"}
        -#   %input.submit-btn{type: "submit", name: "commit", value: "Send"}